* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  display: grid;
}

.body-container {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.card-container {
  display: grid;

  gap: 2rem;
  padding: 2rem;
}

.card-container > div {
  border-radius: 10px;
}

#data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* Styling for featured-product carousel */

#featured-product > div > div:nth-of-type(1) {
  width: 221px;
  height: 172px;
  box-sizing: border-box;
  font-family: "Rajdhani";
  font-size: 50px;
  /* padding-left: 30px; */
  padding-top: 25px;
}

#featured-product > div > div:nth-of-type(1) > h1 {
  margin-top: -19px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 65px;
}

#featured-product > div > div:nth-of-type(1) > p {
  margin-top: -14px;
  font-size: 16px;
  font-weight: 400;
}

#featured-product > div > div:nth-of-type(2) {
  width: 75%;
}

#featured-product .card-body h5 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}

#featured-product .card-body a {
  width: 140px;
  height: 42px;
  padding: 10px 0px 10px 0px;
  margin-top: 22px;
}
